<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Reģistrācija</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
</head>
<body>
	<form action="" method="POST">
		<h1 title="Reģistrācija">Reģistrācija</h1>
		<div class="group">
			<label for="">e-pasta adrese:</label>
			<input type="email" name="email">
		</div>
		<div class="group">
			<label for="">Parole:</label>
			<input type="password" name="password">
		</div>
		<div class="group">
			<center><button type="submit">Reģistrēties</button></center>
		</div>
	</form>
</body>
</html>